{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  </head>
  <body>
    <header>
      <h1>{{ request.user }}'s ToDos</h1>
    </header>
    <button class="logout-btn"><a href="{% url 'logout' %}">Logout</a></button>
    {% include 'todo_list/todo_form.html' %}
    <div class="todo-container">
      <ul class="todo-list">
        {% include 'todo_list/todos.html' %}
      </ul>
    </div>
  </body>
</html>
